*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.products{
    padding: 30px 40px;
    width: 100%;
}

.products h2{
    font-size: 38px;
    letter-spacing: 1px;
    color: #010f1c;
    font-weight: 300;
    text-transform: uppercase;
}

.products p{
    margin-top: 10px;
    color: grey;
}

.products .container{
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.products .container .filter{
    padding: 20px 30px;
}

.products .container .filter .categories h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #010f1c;
}

.products .container .filter .categories ul{
    margin-top: 10px;
}

.products .container .filter .categories ul li{
    list-style: none;
    margin-top: 20px;
    color: #010f1c;
    cursor: pointer;
}

.products .container .product-box{
    margin-right: 0%;
}

.products .container .product-box .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products .container .product-box .content .box{
    padding: 10px 20px;
    width: 250px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #e2e0e0;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

.products .container .product-box .content .box:hover{
    box-shadow: 0px 3px 8px rgba(0,0,0,0.34);
}

.products .container .product-box .content .box .img-box{
    display: flex;
    justify-content: space-between;
}

.products .container .product-box .content .box .img-box img{
    width: 200px;
    height: 220px;
    margin-right: 50px;
}

.products .container .product-box .content .box .img-box .icon{
    z-index: 1;
    position: relative;
    right: 70px;
    display: flex;
    flex-direction: column;
}

.products .container .product-box .content .box .img-box .icon li{
    list-style: none;
    padding: 10px 10px;
    color: #010f1c;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.34);
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.products .container .product-box .content .box .details{
    margin-top: 20px;
}

.products .container .product-box .content .box .details p{
    color: grey;
    font-size: 14px;
}

.products .container .product-box .content .box .details h3{
    color: #010f1c;
    font-size: 18px;
    margin-top: 5px;
}